meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta name="viewport" content="width=device-width, initial-scale=1"
meta name="description" content="Simple tool which validate emails"
meta name="author" content="Kevin Disneur"
title
  | Does this email work?
